{% extends "layout.twig" %}
{% block content %}
    <p>
        Hello <a href="{{ profile.url }}">{{ profile.name }}</a>.
        Care to <a href="{{ path_for('logout') }}">logout</a>?
    </p>
    {% if not profile.repositories is empty %}
        <p>Here are your repositories:</p>
        <ul>
            {% for repo in profile.repositories %}
                <li>
                    <a href="{{ repo.url }}">{{ repo.name }}</a>
                    (⭐️ {{ repo.stargazers }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no Github repositories. :(</p>
    {% endif %}
{% endblock %}
